######################################
## Flower UI auth sidecar ConfigMap ##
######################################
{{- if (and .Values.authSidecar.enabled ( eq .Values.airflow.executor "CeleryExecutor" )) }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-flower-nginx-conf
  labels:
    tier: airflow
    component: flower
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
data:
  nginx.conf: |
    pid /tmp/nginx.pid;
    worker_processes 1;
    events {
      multi_accept        on;
      worker_connections  3072;
      use                 epoll;
      }
    http {
      proxy_temp_path /tmp/proxy_temp;
      client_body_temp_path /tmp/client_temp;
      fastcgi_temp_path /tmp/fastcgi_temp;
      uwsgi_temp_path /tmp/uwsgi_temp;
      scgi_temp_path /tmp/scgi_temp;
{{- include "airflow.nginx_auth_cache_path" . | indent 8 }}
      upstream astro-flower {
        server 127.0.0.1:{{ .Values.airflow.ports.flowerUI }} ;
      }
      server {
        server_name {{ .Release.Name }}-flower.{{ .Values.ingress.baseDomain }} ;
        listen {{ .Values.authSidecar.port }}  ;
{{ include "default_nginx_server_settings" . | indent 8 }}
        location  = /auth {
{{ include "default_nginx_settings" . | indent 8  }}
{{ include "airflow.nginx_auth_cache" . | indent 8 }}
          proxy_set_header            Host                    houston.{{ .Values.platform.controlPlaneBaseDomain }};
          proxy_pass  {{ .Values.platform.houstonAuthServiceEndpointUrl }};
        }

        location @401_auth_error {
          internal;
          add_header Set-Cookie $auth_cookie;
          return 302 https://app.{{ .Values.platform.controlPlaneBaseDomain }}/login?rd=https://$http_host$request_uri;
        }

        location ~* "^/{{ .Release.Name }}/flower/"  {
{{ include "default_nginx_settings_location" . | indent 8  }}
{{ include "default_nginx_auth_headers" . | indent 8 }}

          if ($host = '{{ .Values.platform.release }}-flower.{{ .Values.ingress.baseDomain }}' ) {
            rewrite ^ https://deployments.{{ .Values.ingress.baseDomain }}/{{ .Release.Name }}/flower permanent;
          }
          proxy_cookie_path                       / /{{ .Release.Name }}/;
          # Custom headers to proxied server
          proxy_set_header  Host  deployments.{{ .Values.ingress.baseDomain}};
          #proxy_set_header  X-Forwarded-Proto https;
          proxy_pass http://astro-flower;

        }

        location /healthz {
          return 200;
        }
      }
    }
{{- end }}
