**kubeconfig**
**pycache**
*.egg-info/
*.swp
*.tgz
.DS_Store
/.idea/
/.vscode/
/config.yaml
/config.yml
/secrets
/test-results
backup
build/
certs
charts
dev-account.json
dist/
kubeconfig
letsencrypt*
repo_state.log
repository
test*.yaml
