**kubeconfig**
**pycache**
*.swp
*.tgz
.DS_Store
/.idea/
/.vscode/
/config.yaml
/config.yml
/secrets
/test-results
backup
certs
charts
dev-account.json
kubeconfig
letsencrypt*
repo_state.log
repository
test*.yaml
