**kubeconfig**
**pycache**
*.swp
*.tgz
.DS_Store
/.idea/
/.vscode/
/config.yaml
/config.yml
/secrets
/test-results
aftest-key
aftest-key.pub
backup
certs
charts
dev-account.json
kubeconfig
letsencrypt*
repository
scratch*
