*.bak
*.swp
*.tmp
*.tmproj
*~
.DS_Store
.bzr/
.bzrignore
.circleci
.git/
.github
.gitignore
.hg/
.hgignore
.idea/
.pre-commit-config.yaml
.project
.pytest_cache
.svn/
CODEOWNERS
CONTRIBUTING.md
Makefile
README.md
UPDATING.md
__pycache__
bin
configs
dev
docs
tests
venv
