# https://helm.sh/docs/chart_template_guide/helm_ignore_file/
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
# Astronomer helm repository directory
.pytest_cache
bin
CODEOWNERS
configs
dev
docs
Makefile
README.md
tests
UPDATING.md
venv
__pycache__
