---
version: 2.1

workflows:
  version: 2
  install-airflow-chart:
    jobs:
      - lint
      - run_pre_commit
      - unittest-charts

      - build-and-release-internal:
          context:
            - gcp-astronomer-prod
          requires:
            - lint
            - run_pre_commit
            - unittest-charts

      - airflow-test:
          matrix:
            parameters:
              # https://hub.docker.com/r/kindest/node/tags
              kube_version: ["1.17.17", "1.18.19", "1.19.11", "1.20.7", "1.21.2"]
              executor: ["CeleryExecutor", "LocalExecutor", "KubernetesExecutor"]
          requires:
            - build-and-release-internal

      - approve-release-prod:
          type: approval
          requires:
            - "airflow-test"
          filters:
            branches:
              only:
                - '/release-\d+\.\d+/'

      - release-public:
          context:
            - github-repo
            - gcp-astronomer-prod
          requires:
            - approve-release-prod
          filters:
            branches:
              only:
                - '/release-\d+\.\d+/'

jobs:
  run_pre_commit:
    docker:
      - image: quay.io/astronomer/ci-pre-commit:2021-11
    steps:
      - checkout
      - run:
          name: "Create pre-commit-cache-key.txt"
          command: |
            cp .pre-commit-config.yaml /tmp/pre-commit-cache-key.txt
            python --version --version | sed 's/^/# /' >> /tmp/pre-commit-cache-key.txt
      - restore_cache:
          keys:
            - pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
      - run:
          name: Install pre-commit hooks
          command: pre-commit install-hooks
      - save_cache:
          key: pre-commit-cache-{{ checksum "/tmp/pre-commit-cache-key.txt" }}
          paths:
            - ~/.cache/pre-commit
      - run:
          name: Run pre-commit
          command: pre-commit run --all-files --show-diff-on-failure
          environment:
            SKIP: no-commit-to-branch

  lint:
    docker:
      - image: alpine/helm:3.7.1
    steps:
      - checkout
      - run:
          name: Lint the Airflow chart
          command: bin/lint

  unittest-charts:
    docker:
      - image: quay.io/astronomer/ci-helm-release:2021-11
    steps:
      - checkout
      - run:
          name: unittest the Airflow chart
          command: make unittest-chart

  build-and-release-internal:
    docker:
      - image: quay.io/astronomer/ci-helm-release:2021-11
    steps:
      - checkout
      - run:
          name: Package and release to internal
          command: bin/package-and-release-internal
      - persist_to_workspace:
          root: /tmp/airflow-chart-package
          paths:
            - "./*.tgz"

  airflow-test:
    machine:
      # https://circleci.com/docs/2.0/configuration-reference/#available-machine-images
      image: ubuntu-2004:202111-01
      resource_class: large
    parameters:
      executor:
        type: string
        default: "LocalExecutor"
      kube_version:
        type: string
        default: "1.18.19"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Install Airflow chart
          command: |
            pyenv global 3.9.4
            export KUBE_VERSION=<< parameters.kube_version >>
            export EXECUTOR=<< parameters.executor >>
            HELM_CHART_PATH=$(find /tmp/workspace/ -name 'airflow-*.tgz')
            export HELM_CHART_PATH
            bin/install-ci-tools
            bin/run-ci

  release-internal:
    docker:
      - image: quay.io/astronomer/ci-helm-release:2021-11
    steps:
      - checkout
      - run:
          name: Release the Airflow chart to internal
          command: bin/package-and-release-internal

  release-public:
    docker:
      - image: quay.io/astronomer/ci-helm-release:2021-11
    steps:
      - checkout
      - publish-github-release
      - run:
          name: "Copy internal chart to prod repo"
          command: bin/release-internal-to-prod

commands:
  publish-github-release:
    description: "Create a release on GitHub"
    parameters:
      tag:
        type: string
        default: "$NEXT_TAG"
    steps:
      - run:
          name: Create a release on GitHub
          command: |
            set -xe
            # We can remove --debug after we are happy with it
            astronomer-ci --debug publish-github-release --github-repository "$CIRCLE_PROJECT_REPONAME" --github-organization "$CIRCLE_PROJECT_USERNAME" --commitish "$CIRCLE_SHA1"
