version: 2.1

workflows:
  version: 2.1
  install-airflow-chart:
    jobs:
      - lint
      - build-artifact:
          requires:
          - lint
      - 'airflow-on-k8s-1-14':
          requires:
          - build-artifact
      - 'airflow-on-k8s-1-15':
          requires:
          - build-artifact
      - 'airflow-on-k8s-1-16':
          requires:
          - build-artifact
      - 'airflow-on-k8s-1-17':
          requires:
          - build-artifact
      - approve-release:
          type: approval
          requires:
            - 'airflow-on-k8s-1-14'
            - 'airflow-on-k8s-1-15'
            - 'airflow-on-k8s-1-16'
            - 'airflow-on-k8s-1-17'
          filters:
            branches:
              only:
                - '/release-.*/'
      - release:
          requires:
            - approve-release
          filters:
            branches:
              only:
                - '/release-.*/'
jobs:

  lint:
    docker:
      - image: alpine/helm:2.16.1
    steps:
      - checkout
      - run:
          name: Lint the Airflow chart
          command: bin/lint

  build-artifact:
    docker:
      - image: alpine/helm:2.16.1
    steps:
      - checkout
      - run:
          name: Package the Airflow chart
          command: bin/package
      - persist_to_workspace:
          root: /tmp/airflow-chart-package
          paths:
            - './*.tgz'

  airflow-on-k8s-1-14:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      KUBE_VERSION: 1.14.10
    steps:
      - helm-install

  airflow-on-k8s-1-15:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      KUBE_VERSION: 1.15.7
    steps:
      - helm-install

  airflow-on-k8s-1-16:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      KUBE_VERSION: 1.16.4
    steps:
      - helm-install

  airflow-on-k8s-1-17:
    machine:
      image: ubuntu-1604:201903-01
    environment:
      KUBE_VERSION: 1.17.0
    steps:
      - helm-install

  release:
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Release the Airflow chart
          command: |
            HELM_CHART_PATH='/tmp/workspace/airflow-*.tgz' bin/release
commands:
  helm-install:
    description: "Install Helm chart from artifact"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Install Airflow chart
          command: |
            HELM_CHART_PATH='/tmp/workspace/airflow-*.tgz' bin/run-ci
