version: 2.1

workflows:
  version: 2.1
  install-airflow-chart:
    jobs:
      - lint
      - unittest-charts
      - build-artifact:
          requires:
          - lint
          - unittest-charts
      - airflow-test:
          matrix:
            parameters:
              kube_version: ["1.14.10", "1.15.7", "1.16.4", "1.17.2", "1.18.2"]
              executor: ["CeleryExecutor", "LocalExecutor", "KubernetesExecutor"]
          requires:
          - build-artifact

      - approve-release:
          type: approval
          requires:
            - 'airflow-test'
          filters:
            branches:
              only:
                - '/release-.*/'

      - release:
          requires:
            - approve-release
          filters:
            branches:
              only:
                - '/release-.*/'
jobs:
  lint:
    docker:
      - image: alpine/helm:3.2.4
    steps:
      - checkout
      - run:
          name: Lint the Airflow chart
          command: bin/lint

  unittest-charts:
    docker:
      - image: alpine/helm:3.2.4
        entrypoint: /bin/sh
    steps:
      - checkout
      - run:
          name: unittest the Airflow chart
          command: |
            apk add git bash
            helm repo add stable https://kubernetes-charts.storage.googleapis.com
            helm dep update
            helm plugin install https://github.com/astronomer/helm-unittest/
            helm unittest .

  build-artifact:
    docker:
      - image: alpine/helm:3.2.4
    steps:
      - checkout
      - run:
          name: Package the Airflow chart
          command: bin/package
      - persist_to_workspace:
          root: /tmp/airflow-chart-package
          paths:
            - './*.tgz'

  airflow-test:
    machine:
      image: ubuntu-2004:202008-01
      resource_class: large
    parameters:
      executor:
        type: string
        default: "LocalExecutor"
      kube_version:
        type: string
        default: "1.18.2"
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - run:
          name: Install Airflow chart
          command: |
            pyenv global 3.8.5
            export KUBE_VERSION=<< parameters.kube_version >>
            export EXECUTOR=<< parameters.executor >>
            HELM_CHART_PATH='/tmp/workspace/airflow-*.tgz' bin/run-ci

  release:
    machine:
      image: ubuntu-2004:202008-01
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - checkout
      - publish-github-release
      - run:
          name: Release the Airflow chart
          command: |
            set -e
            sudo apt-get update && sudo apt-get install -y ca-certificates curl
            pyenv global 2.7.12
            HELM_CHART_PATH='/tmp/workspace/airflow-*.tgz' bin/release

commands:
  publish-github-release:
    description: "Create a release on GitHub"
    parameters:
      tag:
        type: string
        default:  "$NEXT_TAG"
    steps:
      - run:
          name: Create a release on GitHub
          command: |
            set -xe
            pyenv global 3.8.5
            pip install astronomer_e2e_test
            # We can remove --debug after we are happy with it
            astronomer-ci --debug publish-github-release --github-repository $CIRCLE_PROJECT_REPONAME --github-organization $CIRCLE_PROJECT_USERNAME --commitish $CIRCLE_SHA1
