######################################
## WebServer auth sidecar ConfigMap ##
######################################
{{- if .Values.airflow.authSidecar.enabled  }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-nginx-conf
  labels:
    tier: airflow
    component: webserver
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
data:
  nginx.conf: |
    pid /tmp/nginx.pid;
    worker_processes auto;
    events {
      multi_accept        on;
      worker_connections  16384;
      use                 epoll;
      }
    http {
      upstream astro-webserver {
        server localhost:{{ .Values.ports.airflowUI }} ;
      }
      server {
        server_name {{ .Release.Name }}.{{ .Values.ingress.baseDomain }} ;
        listen {{ .Values.authSidecar.port }}  ;
        # Disable Nginx Server version
        server_tokens off;
        location ^~ /api/ {
          if ($host = 'deployments.{{ .Values.ingress.baseDomain }}' ) {
            return 404;
            }
            proxy_pass https://deployments.{{ .Values.ingress.baseDomain }}/{{ .Release.Name }}/airflow/$request_uri;
          }
        location  = /auth {
{{ include "default_nginx_settings" . | indent 8  }}
          proxy_set_header            Host                    houston.{{ .Values.ingress.baseDomain }};
          proxy_pass  https://houston.{{ .Values.ingress.baseDomain }}/v1/authorization;
        }

        location @401_auth_error {
          internal;
          add_header Set-Cookie $auth_cookie;
          return 302 https://app.{{ .Values.ingress.baseDomain }}/login?rd=https://$http_host$request_uri;
        }

        location / {
{{ include "default_nginx_settings_location" . | indent 8  }}


          #proxy_set_header X-Original-URI        $request_uri;
          if ($host = '{{ .Values.platform.release }}-airflow.{{ .Values.ingress.baseDomain }}' ) {
            return 308 https://deployments.{{ .Values.ingress.baseDomain }}/{{ .Release.Name }}/airflow/$request_uri;
          }

          # Custom headers to proxied server
          proxy_set_header  Host  deployments.{{ .Values.ingress.baseDomain}};
          #proxy_set_header  X-Forwarded-Proto https;
          proxy_cookie_path                       off;
          proxy_pass http://astro-webserver;

        }

        location /healthz {
          return 200;
        }

      }
    }
{{- end }}