###########################
## git-sync-relay configmap
###########################
{{- if and .Values.gitSyncRelay.enabled .Values.gitSyncRelay.repo.knownHosts }}
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-git-sync-config
  labels:
    component: git-sync-relay
    tier: airflow
    release: {{ .Release.Name }}
    chart: "{{ .Release.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
data:
  known_hosts: |
    {{- .Values.gitSyncRelay.repo.knownHosts | nindent 4 }}
{{- end }}
