##########################
# git-sync-relay ingress #
##########################
{{- if and
  .Values.gitSyncRelay.enabled
  (eq .Values.gitSyncRelay.repoFetchMode "webhook")
}}
kind: Ingress
apiVersion: "networking.k8s.io/v1"
metadata:
  name: {{ .Release.Name }}-git-sync-relay-ingress
  labels:
    component: git-sync-relay
    tier: airflow
    release: {{ .Release.Name }}
    chart: "{{ .Release.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
{{- with .Values.airflow.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  annotations:
{{- if .Values.authSidecar.enabled }}
  {{- toYaml .Values.authSidecar.annotations | nindent 4 }}
{{- else }}
  {{ toYaml .Values.ingress.gitSyncRelayAnnotations | nindent 4 }}
{{- end }}
spec:
  tls:
    - secretName: {{ .Values.ingress.tlsSecretName | default "~" }}
      hosts:
        - {{ include "deployments_subdomain" . }}
  rules:
    - host: {{ include "deployments_subdomain" . }}
      http:
        paths:
          {{- if and .Values.authSidecar.enabled (eq .Values.gitSyncRelay.repoFetchMode "webhook")}}
          - path: /{{ .Release.Name }}/git_sync
          {{- else }}
          - path: /{{ .Release.Name }}/git_sync(/|$)(.*)
          {{- end }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ .Release.Name }}-git-sync-relay
                port:
                  {{- if and .Values.authSidecar.enabled (eq .Values.gitSyncRelay.repoFetchMode "webhook")}}
                  name: auth-proxy
                  {{- else }}
                  name: webhook
                  {{- end }}
{{- end }}
