###############################
## git-sync-relay Deployment ##
###############################
{{- if .Values.gitSyncRelay.enabled }}
{{- $nodeSelector := or .Values.gitSyncRelay.nodeSelector .Values.airflow.nodeSelector }}
{{- $affinity := or .Values.gitSyncRelay.affinity .Values.airflow.affinity }}
{{- $tolerations := or .Values.gitSyncRelay.tolerations .Values.airflow.tolerations }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-git-sync-relay
  labels:
    component: git-sync-relay
    tier: airflow
    release: {{ .Release.Name }}
    chart: "{{ .Release.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
spec:
  replicas: 1
  selector:
    matchLabels:
      component: git-sync-relay
      tier: airflow
  template:
    metadata:
      labels:
        component: git-sync-relay
        tier: airflow
        release: {{ .Release.Name }}
        chart: "{{ .Release.Name }}-{{ .Chart.Version }}"
        heritage: {{ .Release.Service }}
        {{- if .Values.labels }}
        {{- .Values.labels | toYaml | nindent 8 }}
        {{- end }}
    spec:
      {{- if or .Values.airflow.registry.secretName .Values.airflow.registry.connection }}
      imagePullSecrets:
        - name: {{ template "astro.registry_secret" . }}
      {{- end }}
      nodeSelector: {{- toYaml $nodeSelector | nindent 8 }}
      affinity: {{- toYaml $affinity | nindent 8 }}
      tolerations: {{- toYaml $tolerations | nindent 8 }}
      terminationGracePeriodSeconds: {{ .Values.gitSyncRelay.terminationGracePeriodSeconds }}
      serviceAccountName: {{ template "astro.gitSyncRelay.serviceAccountName" . }}
      securityContext: {{- toYaml .Values.gitSyncRelay.securityContext | nindent 8 }}
      volumes:
        - name: git-sync-home
          emptyDir: {}
        - name: git-repo-contents
        {{- if eq .Values.gitSyncRelay.repoShareMode "shared_volume" }}
          persistentVolumeClaim:
            claimName: git-repo-contents
        {{- else }}
          emptyDir: {}
        {{- end }}
        {{- if .Values.gitSyncRelay.repo.sshPrivateKeySecretName }}
        - name: git-secret
          secret:
            secretName: {{ .Values.gitSyncRelay.repo.sshPrivateKeySecretName }}
        {{- end }}
        - name: {{ .Release.Name }}-git-sync-config
          configMap:
            name: {{ .Release.Name }}-git-sync-config
        {{- if .Values.loggingSidecar.enabled }}
        - name: config-volume
          configMap:
            name: {{ .Release.Name }}-sidecar-config
        - emptyDir: {}
          name: sidecar-logging-consumer
        {{- end }}
        {{- if and .Values.authSidecar.enabled (eq .Values.gitSyncRelay.repoFetchMode "webhook") }}
        - name: nginx-access-logs
          emptyDir: {}
        - name: nginx-sidecar-conf
          configMap:
            name: {{ .Release.Name }}-git-sync-relay-nginx-conf
        - emptyDir: {}
          name: nginx-cache
        - emptyDir: {}
          name: nginx-tmp
        {{- end }}
        - emptyDir: {}
          name: tmp
      initContainers:
        - name: git-config-manager
          command: ["git", "config", "--global", "--add", "safe.directory", "/git"]
          image: "{{ .Values.gitSyncRelay.images.gitSync.repository }}:{{ .Values.gitSyncRelay.images.gitSync.tag }}"
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: git-sync-home
              mountPath: /home/git-sync
          resources: {{- toYaml .Values.gitSyncRelay.gitSync.resources | nindent 12 }}
      containers:
        - name: git-sync
          image: "{{ .Values.gitSyncRelay.images.gitSync.repository }}:{{ .Values.gitSyncRelay.images.gitSync.tag }}"
          {{- if .Values.loggingSidecar.enabled }}
          command: ["bash"]
          args:
            - -c
            - /entrypoint.sh 1> >( tee -a /var/log/sidecar-logging-consumer/out.log ) 2> >( tee -a /var/log/sidecar-logging-consumer/err.log >&2 )
          {{- end }}
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: git-sync-home
              mountPath: /home/git-sync
            {{- if .Values.gitSyncRelay.repo.sshPrivateKeySecretName }}
            - name: git-secret
              mountPath: /etc/git-secret/ssh
              readOnly: true
              subPath: gitSshKey
            {{- if .Values.gitSyncRelay.repo.knownHosts }}
            - name: {{ .Release.Name }}-git-sync-config
              mountPath: /etc/git-secret/known_hosts
              readOnly: true
              subPath: known_hosts
            {{- end }}
            {{- end }}
            - name: git-repo-contents
              mountPath: /git
            {{- if .Values.loggingSidecar.enabled }}
            - mountPath: /var/log/sidecar-logging-consumer
              name: sidecar-logging-consumer
            {{- end }}
          env:
            - name: GIT_SYNC_ROOT
              value: "/git"
            - name: GIT_SYNC_REPO
              value: "{{ .Values.gitSyncRelay.repo.url }}"
            - name: GIT_SYNC_BRANCH
              value: "{{ .Values.gitSyncRelay.repo.branch }}"
            - name: GIT_SYNC_DEPTH
              value: "{{ .Values.gitSyncRelay.repo.depth }}"
            - name: GIT_SYNC_WAIT
              value: "{{ .Values.gitSyncRelay.repo.wait }}"
            {{- if .Values.gitSyncRelay.repoFetchMode }}
            - name: GIT_SYNC_REPO_FETCH_MODE
              value: "{{ .Values.gitSyncRelay.repoFetchMode }}"
            {{- end }}
            {{- if .Values.gitSyncRelay.webhookSecretKey }}
            - name: GIT_SYNC_WEBHOOK_SECRET
              value: "{{ .Values.gitSyncRelay.webhookSecretKey }}"
            {{- end }}
            {{- if .Values.gitSyncRelay.repo.sshPrivateKeySecretName }}
            - name: GIT_SYNC_SSH
              value: "true"
            - name: GIT_SSH_KEY_FILE
              value: "/etc/git-secret/ssh"
            {{- if .Values.gitSyncRelay.repo.knownHosts }}
            - name: GIT_KNOWN_HOSTS
              value: "true"
            - name: GIT_SSH_KNOWN_HOSTS_FILE
              value: "/etc/git-secret/known_hosts"
            {{- else }}
            - name: GIT_KNOWN_HOSTS
              value: "false"
            {{- end }}
            {{- end }}
          {{- if .Values.gitSyncRelay.gitSync.livenessProbe }}
          livenessProbe: {{- tpl (toYaml .Values.gitSyncRelay.gitSync.livenessProbe) . | nindent 12 }}
          {{- end }}
          {{- if .Values.gitSyncRelay.gitSync.readinessProbe }}
          readinessProbe: {{- tpl (toYaml .Values.gitSyncRelay.gitSync.readinessProbe) . | nindent 12 }}
          {{- end }}
          resources: {{- toYaml .Values.gitSyncRelay.gitSync.resources | nindent 12 }}
        {{- if eq .Values.gitSyncRelay.repoShareMode "git_daemon" }}
        - name: git-daemon
          image: "{{ .Values.gitSyncRelay.images.gitDaemon.repository }}:{{ .Values.gitSyncRelay.images.gitDaemon.tag }}"
          securityContext:
            readOnlyRootFilesystem: true
          volumeMounts:
            - name: git-repo-contents
              mountPath: /git
              readOnly: False
          env:
            - name: GIT_ROOT
              value: /git
          {{- if .Values.gitSyncRelay.gitDaemon.livenessProbe }}
          livenessProbe: {{- tpl (toYaml .Values.gitSyncRelay.gitDaemon.livenessProbe) . | nindent 12 }}
          {{- else }}
          livenessProbe:
            exec:
              command:
              - touch
              - /git/.git/git-daemon-export-ok
            initialDelaySeconds: 5
            periodSeconds: 15
          {{- end }}
          {{- if .Values.gitSyncRelay.gitDaemon.readinessProbe }}
          readinessProbe: {{- tpl (toYaml .Values.gitSyncRelay.gitDaemon.readinessProbe) . | nindent 12 }}
          {{- end }}
          resources: {{- toYaml .Values.gitSyncRelay.gitDaemon.resources | nindent 12 }}
        {{- end }}

      {{- if .Values.loggingSidecar.enabled }}
        {{- include "logging_sidecar_container_spec" . | nindent 8 }}
      {{- end }}
      {{- if and .Values.authSidecar.enabled (eq .Values.gitSyncRelay.repoFetchMode "webhook") }}
        {{- include "auth_sidecar_container_spec" . | nindent 8 }}
      {{- end }}
      {{- if .Values.gitSyncRelay.extraContainers }}
        {{- toYaml .Values.gitSyncRelay.extraContainers | nindent 8 }}
      {{- end }}
{{- end -}}
