################################
## Airflow Ingress
#################################
{{- if .Values.ingress.enabled }}
  {{ $ctx := . }}
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-airflow-ingress
  labels:
    tier: airflow
    component: airflow-ingress
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
{{- with .Values.airflow.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  {{- if or .Values.ingress.webserverAnnotations .Values.authSidecar.annotations }}
  annotations:
  {{- if .Values.authSidecar.enabled  }}
{{- toYaml .Values.authSidecar.annotations | nindent 4 }}
  {{- else }}
    {{- if .Values.ingress.authCache.enabled }}
      "nginx.ingress.kubernetes.io/auth-cache-key": {{ .Values.ingress.authCache.key | quote }}
      "nginx.ingress.kubernetes.io/auth-cache-duration": {{ .Values.ingress.authCache.duration | quote }}
    {{- end }}
    {{- range $k, $v := .Values.ingress.webserverAnnotations }}
      {{ $k | quote }}: {{ tpl $v $ctx | toYaml | indent 4 }}
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  tls:
    - secretName: {{ .Values.ingress.tlsSecretName | default "~" }}
      hosts:
        - {{- include "deployments_subdomain" . | indent 1 }}
        - {{- include "airflow_subdomain" . | indent 1 }}
  rules:
    - host: {{- include "deployments_subdomain" . | indent 1 }}
      http:
        paths:
          - path: /{{ .Release.Name }}/airflow
            pathType: Prefix
            backend:
              service:
              {{- if semverCompare ">=3.0.0" .Values.airflow.airflowVersion }}
                name: {{ .Release.Name }}-api-server
                port:
                  {{- if .Values.authSidecar.enabled  }}
                  name: auth-proxy
                  {{- else }}
                  name: api-server
                  {{- end }}
              {{- else }}
                name: {{ .Release.Name }}-webserver
                port:
                  {{- if .Values.authSidecar.enabled  }}
                  name: auth-proxy
                  {{- else }}
                  name: airflow-ui
                  {{- end }}
              {{- end }}
    - host: {{- include "airflow_subdomain" . | indent 1 }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
              {{- if semverCompare ">=3.0.0" .Values.airflow.airflowVersion }}
                name: {{ .Release.Name }}-api-server
                port:
                  {{- if .Values.authSidecar.enabled  }}
                  name: auth-proxy
                  {{- else }}
                  name: api-server
                  {{- end }}
              {{- else }}
                name: {{ .Release.Name }}-webserver
                port:
                  {{- if .Values.authSidecar.enabled  }}
                  name: auth-proxy
                  {{- else }}
                  name: airflow-ui
                  {{- end }}
              {{- end }}
{{- end }}
{{- if and .Values.ingress.enabled (eq .Values.airflow.executor "CeleryExecutor") }}
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-flower-ingress
  labels:
    tier: airflow
    component: flower-ingress
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
{{- with .Values.airflow.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  {{- if or .Values.ingress.flowerAnnotations .Values.authSidecar.annotations }}
  {{ $ctx := . }}
  annotations:
  {{- if .Values.authSidecar.enabled  }}
    {{- toYaml .Values.authSidecar.annotations | nindent 4 }}
  {{- else }}
    {{- if .Values.ingress.authCache.enabled }}
      "nginx.ingress.kubernetes.io/auth-cache-key": {{ .Values.ingress.authCache.key | quote }}
      "nginx.ingress.kubernetes.io/auth-cache-duration": {{ .Values.ingress.authCache.duration | quote }}
    {{- end }}
    {{- range $k, $v := .Values.ingress.flowerAnnotations }}
      {{ $k | quote }}: {{ tpl $v $ctx | toYaml | indent 4 }}
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  tls:
    - secretName: {{ .Values.ingress.tlsSecretName | default "~" }}
      hosts:
        - {{- include "deployments_subdomain" . | indent 1 }}
        - {{- include "flower_subdomain" . | indent 1 }}
  rules:
    - host: {{- include "deployments_subdomain" . | indent 1 }}
      http:
        paths:
          {{- if .Values.authSidecar.enabled  }}
          - path: /{{ .Release.Name }}/flower
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-flower
                port:
                  name: auth-proxy
          {{- else }}
          - path: /{{ .Release.Name }}/flower/
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-flower
                port:
                  name: flower-ui
          {{ end }}
    - host: {{- include "flower_subdomain" . | indent 1 }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-flower
                port:
                  {{- if .Values.authSidecar.enabled  }}
                  name: auth-proxy
                  {{- else }}
                  name: flower-ui
                  {{- end }}
{{- end }}
{{- if and .Values.dagDeploy.enabled  }}
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-dag-server-ingress
  labels:
    tier: airflow
    component: dag-server-ingress
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
{{- with .Values.airflow.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  {{- if or .Values.ingress.dagServerAnnotations .Values.authSidecar.annotations }}
  {{ $ctx := . }}
  annotations:
  {{- if .Values.authSidecar.enabled  }}
{{- toYaml .Values.authSidecar.annotations | nindent 4 }}
  {{- else }}
    {{- if .Values.ingress.authCache.enabled }}
      "nginx.ingress.kubernetes.io/auth-cache-key": {{ .Values.ingress.authCache.key | quote }}
      "nginx.ingress.kubernetes.io/auth-cache-duration": {{ .Values.ingress.authCache.duration | quote }}
    {{- end }}
    {{- range $k, $v := .Values.ingress.dagServerAnnotations }}
      {{ $k | quote }}: {{ tpl $v $ctx | toYaml | indent 4 }}
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  tls:
    - secretName: {{ .Values.ingress.tlsSecretName | default "~" }}
      hosts:
        - {{- include "deployments_subdomain" . | indent 1 }}
  rules:
    - host: {{- include "deployments_subdomain" . | indent 1 }}
      http:
        paths:
          {{- if .Values.authSidecar.enabled  }}
          - path: /{{ .Release.Name }}/dags
          {{- else }}
          - path: /{{ .Release.Name }}/dags/(upload|downloads|healthz)(/.*)?
          {{- end }}
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-dag-server
                port:
                  {{- if .Values.authSidecar.enabled  }}
                  name: auth-proxy
                  {{- else }}
                  name: http
                  {{- end }}
{{- end }}
