################################
## Airflow Ingress
#################################
{{- if .Values.ingress.enabled }}
  {{ $ctx := . }}
kind: Ingress
{{- if semverCompare "< 1.19-0" .Capabilities.KubeVersion.Version -}}
apiVersion: networking.k8s.io/v1beta1
{{- else }}
apiVersion: networking.k8s.io/v1
{{- end }}
metadata:
  name: {{ .Release.Name }}-airflow-ingress
  labels:
    tier: airflow
    component: airflow-ingress
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
{{- with .Values.airflow.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  {{- if .Values.ingress.webserverAnnotations }}
  annotations:
  {{- if .Values.authSidecar.enabled  }}
{{- toYaml .Values.authSidecar.annotations | nindent 4 }}
  {{- else }}
    {{- range $k, $v := .Values.ingress.webserverAnnotations }}
      {{ $k | quote }}: {{ tpl $v $ctx | toYaml | indent 4 }}
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  tls:
  {{- if .Values.ingress.acme }}
    - secretName: {{ .Release.Name }}-airflow-tls
  {{- else if .Values.ingress.tlsSecretName }}
    - secretName: {{ .Values.ingress.tlsSecretName }}
  # this option to be relooked, for the sake of POC we have hardcoded
  {{- else if .Values.authSidecar.enabled  }}
    - secretName: astronomer-tls
  {{ else }}
    - secretName: ~
  {{- end }}
      hosts:
        - {{- include "deployments_subdomain" . | indent 1 }}
        - {{- include "airflow_subdomain" . | indent 1 }}
  rules:
    - host: {{- include "deployments_subdomain" . | indent 1 }}
      http:
        paths:
          - path: /{{ .Release.Name }}/airflow
            backend:
              serviceName: {{ .Release.Name }}-webserver
              {{- if .Values.authSidecar.enabled  }}
              servicePort: auth-proxy
              {{- else }}
              servicePort: airflow-ui
              {{- end }}
    - host: {{- include "airflow_subdomain" . | indent 1 }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ .Release.Name }}-webserver
              {{- if .Values.authSidecar.enabled  }}
              servicePort: auth-proxy
              {{- else }}
              servicePort: airflow-ui
              {{- end }}
{{- end }}
{{- if and .Values.ingress.enabled (eq .Values.airflow.executor "CeleryExecutor") }}
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-flower-ingress
  labels:
    tier: airflow
    component: flower-ingress
    release: {{ .Release.Name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    heritage: {{ .Release.Service }}
{{- with .Values.airflow.labels }}
{{ toYaml . | indent 4 }}
{{- end }}
  {{- if .Values.ingress.flowerAnnotations }}
  {{ $ctx := . }}
  annotations:
  {{- if .Values.authSidecar.enabled  }}
{{- toYaml .Values.authSidecar.annotations | nindent 4 }}
  {{- else }}
    {{- range $k, $v := .Values.ingress.flowerAnnotations }}
      {{ $k | quote }}: {{ tpl $v $ctx | toYaml | indent 4 }}
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  tls:
          {{- if .Values.ingress.acme }}
    - secretName: {{ .Release.Name }}-airflow-tls
          {{- else if .Values.ingress.tlsSecretName }}
    - secretName: {{ .Values.ingress.tlsSecretName }}
          {{- else if .Values.authSidecar.enabled  }}
    - secretName: astronomer-tls
          {{ else }}
    - secretName: ~
            {{- end }}
      hosts:
        - {{- include "deployments_subdomain" . | indent 1 }}
        - {{- include "flower_subdomain" . | indent 1 }}
  rules:
    - host: {{- include "deployments_subdomain" . | indent 1 }}
      http:
        paths:
          {{- if .Values.authSidecar.enabled  }}
          - path: /{{ .Release.Name }}/flower
            backend:
              serviceName: {{ .Release.Name }}-flower
              servicePort: auth-proxy
          {{- else }}
          - path: /{{ .Release.Name }}/flower(/|$)(.*)
            backend:
              serviceName: {{ .Release.Name }}-flower
              servicePort: flower-ui
          {{- end }}
    - host: {{- include "flower_subdomain" . | indent 1 }}
      http:
        paths:
          - path: /
            backend:
              serviceName: {{ .Release.Name }}-flower
              {{- if .Values.authSidecar.enabled  }}
              servicePort: auth-proxy
              {{- else }}
              servicePort: flower-ui
              {{- end }}
{{- end }}
